<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZavrsniRad_V1.Properties.Settings.BazaPodatak_ZavrsniConnectionString"
            connectionString="Data Source=DESKTOP-GBNAGFJ\SQLEXPRESS;Initial Catalog=BazaPodatak_Zavrsni;Persist Security Info=True;User ID=dorian;Password=lozinka"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>